body {
  background: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  /* height: 100%; */
   /* margin: 0; */
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-size:12px;
}

h1 {
  color: hsl(238, 29%, 16%);
  padding-bottom: 30px;
}

h2 {
  color: hsl(238, 29%, 16%);

}

.row{
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 50px;
}
.container {
  margin:2%;
    border: 1px ;
    border-radius: 25px;
    padding: 45px;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align:left; */
}

.accordion-button{
    font-size:12px;
    font-weight:bold;

}
.accordion-button.collapsed{
  font-weight:normal;
}

.accordion-item {
        border-top-width: 0px !important;
        border-left-width:0px !important;
        border-right-width: 0px !important;
}
